{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Forgot Your Password?{% endblock %}


{% block content %}
<body class="body_pass_reset">
    <form method="post" class="form-signup">
        {% csrf_token %}
        {% bootstrap_form form  %}
        <button type="submit" class="save btn btn-dark">Send me instructions</button><br><br>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    </form>
    </body>
{% endblock %}